<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10">
    <p class="text-align-left font-size-200 text-bold" >Notifications</p>
  </div>

    <%= link_to new_note_path("projects", @project)  do %>
    <%= fa_icon "plus", class: "btn btn-info buffer-margin-10" %>
    <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Text</th>
      <th>Author</th>
       <th>Create At</th>
      <th>Info</th>
      <th>Edit</th>
      <th>Delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.notes.each do |note| %>
    <%= render "shared/display_models", object: note %>
    <% end %>
    <!--Super Hacky way to get notes from tasks to display. Also when notes from tasks are rendered this way, if they have been removed from the associated task they still appear here. Don't know if that is a bug, or intentional.  -->
    <% @project.tasks.each do |task| %>
    <%= render "notes/task_notes", object: task %>
    <% end %>
  </tbody>
</table>

<br>
