<div class="form-horizontal">
    <div class="field row">
        <%= f.label :name, class:'form-label col-xs-2'%>
        <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="field row">
        <%= f.label :description, class:'form-label col-xs-2'%>
        <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field row">
        <%= f.label :resource_state, :status, class:'form-label col-xs-2'%>
        <%= f.select :resource_state, resource_states(Task), { include_blank: true } %>
    </div>

    <% if f.object.persisted? %>
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy, I18n.t(:remove) %>
    <% end %>
</div>
