<tr>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.aasm.current_state %></td>

  <td>
    <%= link_to task_path(task.find_resource.class.name.downcase.pluralize, task.find_resource, task.id) do %>
      <%= fa_icon "info-circle", class: "btn btn-default" %>
    <% end %>
  </td>

  <td>
    <%= link_to edit_task_path(task.find_resource.class.name.downcase.pluralize, task.find_resource, task.id) do %>
      <%= fa_icon "pencil", class:"btn btn-success" %>
    <% end %>
  </td>

  <td>
    <%= link_to task_path(task.find_resource.class.name.downcase.pluralize, task.find_resource, task.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= fa_icon "trash", class:"btn btn-danger" %>
    <% end %>
  </td>
</tr>
