<div class="container-fluid form-horizontal">
    <div class="form-group">
        <%= f.label :name, class: "form-label control-label col-md-2" %>
        <div class="col-md-10 no-padding">
            <%= f.text_field :name, class: "form-control no-border-radius" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :description, class: "form-label control-label col-md-2" %>
        <div class="col-md-10 no-padding">
            <%= f.text_field :description, class: "form-control no-border-radius" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :resource_state, I18n.t(:status).titleize, class: 'form-label control-label col-md-2'%>
        <div class="col-md-10 no-padding">
            <%= f.select :resource_state, resource_states(Task), { include_blank: true }, class: "form-control no-border-radius" %>
        </div>
    </div>

    <% if f.object.persisted? && controller_name != f.object.class.to_s.pluralize.downcase %>
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <%= f.label :_destroy, I18n.t(:remove) do %>
                        <%= f.check_box :_destroy %> <%= I18n.t(:remove).titleize %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>
