<div>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    
    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    
    <div class="field">
        <%= f.label :resource_state, :status %>
        <%= f.select :resource_state, resource_states(Task), { include_blank: true } %>
    </div>
    
    <% if f.object.persisted? %>
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy, I18n.t(:remove) %>
    <% end %>
</div>
