<p id="notice"><%= notice %></p>


<%= render "shared/carousel", tasks: @tasks  %>

<div class="row">
  <div class="col-md-12">
    <h1 class="" >Tasks</h1>
    <%= link_to new_task_path, class: "text-align-" do %>
    <%= fa_icon "plus", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <%= render "shared/display_models", object: task %>
    <% end %>
  </tbody>
</table>

<br>
