<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.resource_state %>
</p>

<p>
  <strong>Notes</strong>
  <ol>
    <% @task.notes.each do |note| %>
    <li>
      <%= render 'notes/note_attributes', note: note %>
    </li>
    <% end %>
  </ol>
</p>
<%= button_to "test", resource_state_change_path(@task), method: :patch, params: { status_method: 'complete' } %>
<%= link_to 'Edit', edit_task_path(id: @task) %> |
<%= link_to 'Back', project_path(id: @task.project.id) %>
