<% title('Task titled ' + @task.name) %>
<%= content_tag(:h1, 'Task titled ' + @task.name) %>


<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.resource_state %>
</p>

<p>
  <strong>Notes</strong>
  <ol>
    <% @task.notes.each do |note| %>
    <li>
      <%= render 'notes/note_attributes', note: note %>
    </li>
    <% end %>
  </ol>
</p>

<div class="container">
  <%= render "shared/resource_state_actions", 
              object: @task, 
              button_class: "btn btn-default col-md-offset-4 col-md-4 buffer-margin-10" %>
</div>

<%= link_to 'Edit', flexible_resource_path(:edit_task_path, @task) %> |
<%= link_to 'Back', @resource %>