<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.phone %></td>
  <td><%= user.email %></td>
  <td><%= user.find_roles(role_type, role_id).map(&:name) %></td>

  <% if current_user.admin? %>
  <td>
    <%= link_to flexible_resource_path(:edit_user_path, user) do %>
      <%= fa_icon "pencil", class:"btn btn-success" %>
    <% end %>
  </td>

  <td>
    <%= link_to flexible_resource_path(:user_path, user), 
                method: :delete, 
                data: { confirm: 'Are you sure?' } do %>
      <%= fa_icon "trash", class:"btn btn-danger" %>
    <% end %>
  </td>
  <% end %>
</tr>
