<div class="background-radial-grey-darkergrey height-100 col-md-12">

  <div class="background-lighter-grey col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 buffer-padding-50 buffer-margin-150 text-center box-shadow-radial">
    <h1 class="font-size-400"><span class="text-bold text-uppercase">NW</span> Transfer</h1>
    <h2 class="buffer-margin-40 no-margin-top">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group col-xs-10 col-xs-offset-1">
        <%= f.email_field :email, autofocus: true, placeholder: :email, class: "form-control" %>
      </div>
  
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-dark-grey no-border-radius no-border buffer-padding-10 buffer-padding-50-horizontal" %>
      </div>
    <% end %>
    
    <div class="link-light-grey small buffer-margin-50 no-margin-bottom">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
