<tr>
  <td><%= object.name %></td>
  <td><%= object.description %></td>
  <td><%= object.aasm.current_state %></td>

  <td>
    <%= link_to task_path("projects", @project, object) do %>
      <%= fa_icon "info-circle", class: "btn btn-default" %>
      <% end %>
  </td>

  <td>
    <%= link_to edit_task_path("projects", @project, object) do %>
      <%= fa_icon "pencil", class:"btn btn-success" %>
    <% end %>
  </td>

  <td>
    <%= link_to task_path("projects", @project, object), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= fa_icon "trash", class:"btn btn-danger" %>
    <% end %>
  </td>
</tr>
