<tr>
  <td><%= object.title %></td>
  <td><%= object.signature %></td>
  <td><%= object.created_at %></td>
  <td><%= object.resource_state %></td>

  <td>
    <%= link_to document_path(id: object) do %>
      <%= fa_icon "info-circle", class: "btn btn-default" %>
    <% end %>
  </td>

  <td>
    <%= link_to edit_document_path(id: object) do %>
      <%= fa_icon "pencil", class:"btn btn-success" %>
    <% end %>
  </td>

  <td>
    <%= link_to document_path(id: object), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= fa_icon "trash", class:"btn btn-danger" %>
    <% end %>
  </td>
</tr>
