<% title('Document titled ' + @document.title) %>
<%= content_tag :h1, 'Document titled ' + @document.title %>

<div class="container-fluid">
  <p>
    <strong>Title:</strong>
    <%= @document.title %>
  </p>
  
  <p>
    <%= render "shared/resource_state_actions", 
                object: @document, 
                button_class: "btn btn-default col-md-offset-4 col-md-4 buffer-margin-10" %>
  </p>
</div>

<%= link_to "Edit", flexible_resource_path(:edit_document_path, @document) %> |
<%= link_to 'Back', @resource %>
