<div id="carousel" class="carousel slide" data-ride="carousel">
<!-- Indicators if wanted -->
<!-- <ol class="carousel-indicators">
  <li data-target="carousel" data-slide-to="0" class="active"></li>
  <li data-target="carousel" data-slide-to="1"></li>
  <li data-target="carousel" data-slide-to="2"></li>
  <li data-target="carousel" data-slide-to="3"></li>
  <li data-target="carousel" data-slide-to="4"></li>
</ol> -->
  <div id="carousel tabs">
    <ul class="nav nav-pills nav-justified buffer-padding-10 border-bottom-grey-3">
      <!-- Make data-slide-to="0" into this data-slide-to="contacts" -->
      <li data-target="#carousel" data-slide-to="0"><a href="#">Users</a></li>
      <li data-target="#carousel" data-slide-to="1"><a href="#">Notifications</a></li>
      <li data-target="#carousel" data-slide-to="2"><a href="#">Tasks</a></li>
      <li data-target="#carousel" data-slide-to="3"><a href="#">Actions</a></li>
      <li data-target="#carousel" data-slide-to="4"><a href="#">Documents</a></li>
    </ul>
  </div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner buffer-margin-20" role="listbox">
    <!--Slide 0, Contacts  -->
    <div class="item" >
        <%= render template: "users/registrations/index", locals: { role_type: @project.class.name, 
                                                              role_id: @project.id } %>
    </div>
    <!--Slide 1, Notifactions  -->
    <div class="item">
        <%= render template: "notes/index" %>
    </div>
    <!-- Slide 2, Tasks  -->
    <div class="item active">
        <%= render template: "tasks/index" %>
    </div>
    <!-- Slide 3, Actions -->
    <div class="item">
        <p class="text-center font-size-200"> Project Status: <%= @project.resource_state.titleize %> </p>
        <%= render "shared/resource_state_actions", 
                    object: @project, 
                    button_class: "btn btn-default col-md-offset-4 col-md-4 buffer-margin-10" %>
    </div>
    <!-- Slide 4, Documents -->
    <div class="item">
        <%= render template: "documents/index" %>
    </div>
    <div class="carousel-side-navs">
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- end of carousel-inner -->
  </div>
</div>
