<%= form_for @project do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <h1><%= @project.aasm.current_state %></h1>

    <% if @step == :pending || @step.nil? %>
        <h1><%= @step %></h1>
    <% end %>
    
    <p><%= f.submit %></p>
<% end %>