<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>

    <% if f.object.persisted? %>
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy, I18n.t(:remove) %>
    <% end %>
</div>