<div class="row task-list">
  <h3 class="col-xs-2 task-number">Task <%= task_counter + 1 %></h3>
  <h3 class="col-xs-1 bar">|</h3>
  <div class="col-xs-6">
    <h3><%= task.name %></h3>
    <p class="subtext">assigned to Darryl Philbin</p>
  </div>
    <%= image_tag("button-placeholder", alt: 'done', class: 'icons') %>
    <%= image_tag("button-placeholder", alt: 'edit', class: 'icons') %>
    <%= image_tag("down-arrow", alt: 'down arrow', class: 'icons') %>
</div>
<div class="task-description">
  <h3 class="subheader">Description</h3>
  <h4>
    <% if task.description.blank? %>
    <%= task.description %>
    <% else %>
    No description given
    <% end %>
    </h4>
</div>