<div class="container-fluid form-horizontal">
    <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :id, I18n.t(:user).titleize, class: 'form-label control-label col-md-2' %>
        <div class="col-md-10 no-padding">
            <%= f.collection_select :id, @users, :id, :name, { include_blank: true }, { class: 'form-control no-border-radius' } %>
        </div>
    <% end %>

    <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :role, class: 'form-label control-label col-md-2' %>
        <div class="col-md-10">
            <%= role_fields(f.object, @project) %>
        </div>
    <% end %>

    <% if f.object.persisted? && controller_name != f.object.class.to_s.pluralize.downcase %>
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <%= f.label :_destroy, I18n.t(:remove) do %>
                        <%= f.check_box :_destroy %> <%= I18n.t(:remove).titleize %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>
