<% title('Projects - ' + @project.title) %>
<% content_for :header_badge, render('customer') %>

<div class="container-fluid">
  <!-- //////////////////TOGGLE JOBS BAR/////////////////////////// -->
  <div class="row vertical-align-middle background-white buffer-padding-10 text-dark-grey text-bold">
    <div class="col-md-3 text-left">
      <%= link_to project_path(@project.previous_by_start_date(current_user)) do %>
        <%= fa_icon "angle-left", class: 'fa-3x text-darkest-grey' %>
        <span class="buffer-padding-10-horizontal">Previous Project</span>
      <% end unless @project.previous_by_start_date(current_user).nil? %>
    </div>
    <div class="col-md-6 text-center">
      <%= link_to "Edit Project", edit_project_path(@project) if current_user.admin? %>
    </div>
    <div class="col-md-3 text-right">
      <%= link_to project_path(@project.next_by_start_date(current_user)) do %>
        <span class="buffer-padding-10-horizontal">Next Project</span>
        <%= fa_icon "angle-right", class: 'fa-3x text-darkest-grey' %>
      <% end unless @project.next_by_start_date(current_user).nil? %>
    </div>
  </div>

  <!-- //////////////////JOB DETAILS SECTION/////////////////////// -->
  <div class="row">
    <div id="project_details" class="container-fluid">
      <%= content_tag(:h1, @project.title, class: 'text-center') %>
      <div id="project_description" class="text-center container-fluid">
        <div class="col-md-10 col-md-offset-1 border-bottom-grey-3">
          <h4 class="text-bold">Job Description:</h4>
          <div class="col-md-6 col-md-offset-3 buffer-margin-10"><%= @project.description %></div>
        </div>
      </div>

      <!-- /////////////////////TIMELINE/////////////////////////// -->
      <div class="container-fluid text-bold border-bottom-grey-3 text-center">
        <div class="col-md-4 buffer-padding-20 border-right-grey-3" style="height: 100px;">
          <span class="text-grey text-italic">Address:</span>
          <% if @project.previous_by_start_date(current_user).nil? || @project.previous_by_start_date(current_user).completed? %>
            <%= @project.location %>
          <% else %>
            You must complete the previous project before continuing
          <% end %>
        </div>
        <div class="col-md-4 buffer-padding-20" style="height: 100px;">
          <p> <span class="text-grey text-italic">Start:</span> <%= format_date_with_time(@project.start_date) %> </p>
          <p>
            <% if @project.completion_date.blank? %>
              <span class="text-grey text-italic">Due: </span> <%= format_date_with_time(@project.estimated_completion_date) %>
            <% else %>
              <span class="text-grey text-italic">End: </span> <%= format_date_with_time(@project.completion_date) %>
            <% end %>
          </p>
        </div>
        <div class="col-md-4 buffer-padding-20 border-left-grey-3" style="height: 100px;">
          What goes here?
        </div>
      </div>
    </div>

    <!-- ////////////////////////Carousel///////////////////////// -->
    <div class="container-fluid">
      <%= render "carousel", project: @project %>
    </div>
  </div>
</div>
