<%= form_for role, url: role.persisted? ? role_path : roles_path do |f| %>
  <%= render 'shared/error_messages', object: role %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :resource_type %>
    <%= f.text_field :resource_type %>
  </div>

  <div class="field">
    <%= f.label :resource_id %>
    <%= f.text_field :resource_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
