<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Northwest Transfer
    </title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  </head>
  <body>
    <% if current_user %>
    <div class="col-md-3">
      <div class="row">      
        <%= render 'shared/sidebar' %>
      </div>
    </div>
    <% end %>
    
    <div class="<%= current_user ? 'col-md-9' : 'col-md-12' %>">
      <div class="row">
        <%= render 'shared/header' %>
      </div>
  
      <main class="row">
          <%= flash_messages %>
      
          <%= yield %>
      </main>
  
      <div class="row">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>