<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Northwest Transfer
    </title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  </head>
  <body class="container-fluid">
    <%= render 'shared/header' %>

    <%= flash_messages %>

    <main class="row">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>

    <% if Rails.env.development? %>
      <div class="container-fluid">
        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>